<!DOCTYPE html>
<html lang="en"> 
<head>
	{{> head-scripts}}
	{{> head-metatags}}
</head>
<body>
	{{> organisms/org-header}}
	{{> molecules/mol-banner}}
	{{> organisms/org-projects}}
	{{> molecules/mol-shout}}
	{{> organisms/org-services}}
	{{> organisms/org-footer}}
	{{> footer-scripts}}
</body>
</html>