<header class="header animated">
	<div class="header--block">
		<ul class="header--list header--list__social">
			<li class="header--social">
				<a href="#">
					<span class="fa fa-linkedin"></span>
				</a>
			</li>
			<li class="header--social">
				<a href="#">
					<span class="fa fa-twitter"></span>
				</a>
			</li>
			<li class="header--social">
				<a href="#">
					<span class="fa fa-pinterest"></span>
				</a>
			</li>
			<li class="header--social">
				<a href="#">
					<span class="fa fa-google-plus"></span>
				</a>
			</li>
			<li class="header--social">
				<a href="#">
					<span class="fa fa-rss"></span>
				</a>
			</li>
		</ul>
		<div class="header--search">
			<input type="text" placeholder="Search Our Website...">
			<button class="btn btn-blue">Search</button>
		</div>
	</div>
	<div class="header--block">
		<img class="header--logo" src="samples/freshness.jpg" alt="">
		<nav class="header--nav">
			<ul class="header--list header--list__nav">
				<li><a class="header--link" href="#">HOME</a></li>
				<li><a class="header--link" href="#">STYLE DEMO</a></li>
				<li><a class="header--link" href="#">FULL WIDTH</a></li>
				<li><a class="header--link" href="#">DROPDOWN</a></li>
				<li><a class="header--link" href="#">PORTFOLIO</a></li>
				<li><a class="header--link" href="#">GALERY</a></li>
			</ul>
		</nav>
	</div>
	<div class="header--mobile">
		<div class="header--hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</header>