<section class="services">
	{{> molecules/mol-service-item}}
	{{> molecules/mol-service-item}}
	{{> molecules/mol-service-item}}
	{{> molecules/mol-service-item}}
	{{> molecules/mol-service-item}}
	{{> molecules/mol-service-item}}
</section>