<section class="banner">
	<div class="owl-carousel owl-theme">
    <div class="banner--item item">
      <figure class="banner--image">
        <img src="samples/monitor.png" alt="">
      </figure>
      <div class="banner--content">
        <h2 class="banner--title">your Title goes Here</h2>
        <div class="banner--description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aut in tenetur quibusdam, amet ducimus ad excepturi. Deserunt expedita adipisci, in! Ea harum sint totam, nisi iure eligendi dicta magnam.</p>
        </div>
        <a href="#" class="btn btn-blue">Read More <span class="fa fa-angle-double-right"></span></a>
      </div>
    </div>
    <div class="banner--item item">
      <figure class="banner--image">
        <img src="samples/monitor.png" alt="">
      </figure>
      <div class="banner--content">
        <h2 class="banner--title">your Title goes Here</h2>
        <div class="banner--description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aut in tenetur quibusdam, amet ducimus ad excepturi. Deserunt expedita adipisci, in! Ea harum sint totam, nisi iure eligendi dicta magnam.</p>
        </div>
        <a href="#" class="btn btn-blue">Read More <span class="fa fa-angle-double-right"></span></a>
      </div>
    </div>
    <div class="banner--item item">
      <figure class="banner--image">
        <img src="samples/monitor.png" alt="">
      </figure>
      <div class="banner--content">
        <h2 class="banner--title">your Title goes Here</h2>
        <div class="banner--description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aut in tenetur quibusdam, amet ducimus ad excepturi. Deserunt expedita adipisci, in! Ea harum sint totam, nisi iure eligendi dicta magnam.</p>
        </div>
        <a href="#" class="btn btn-blue">Read More <span class="fa fa-angle-double-right"></span></a>
      </div>
    </div>
    <div class="banner--item item">
      <figure class="banner--image">
        <img src="samples/monitor.png" alt="">
      </figure>
      <div class="banner--content">
        <h2 class="banner--title">your Title goes Here</h2>
        <div class="banner--description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aut in tenetur quibusdam, amet ducimus ad excepturi. Deserunt expedita adipisci, in! Ea harum sint totam, nisi iure eligendi dicta magnam.</p>
        </div>
        <a href="#" class="btn btn-blue">Read More <span class="fa fa-angle-double-right"></span></a>
      </div>
    </div>
    <div class="banner--item item">
      <figure class="banner--image">
        <img src="samples/monitor.png" alt="">
      </figure>
      <div class="banner--content">
        <h2 class="banner--title">your Title goes Here</h2>
        <div class="banner--description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aut in tenetur quibusdam, amet ducimus ad excepturi. Deserunt expedita adipisci, in! Ea harum sint totam, nisi iure eligendi dicta magnam.</p>
        </div>
        <a href="#" class="btn btn-blue">Read More <span class="fa fa-angle-double-right"></span></a>
      </div>
    </div>
    </div>
  </section>