<div class="services--item">
	<figure>
		<img class="services--image" src="samples/sample80x80.jpg" alt="sample img">
	</figure>
	<div class="services--description">
		<h2 class="services--title">Title Goes Here</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur maxime inventore accusamus incidunt! </p>
	</div>
</div>