<div class="project--card">
	<img src="samples/card-img.jpg" alt="sample img">
	<h2 class="project--title">Title Goes Here</h2>
	<div class="project--description">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur maxime inventore accusamus incidunt! Sapiente nam totam eveniet vitae aliquam eum culpa reiciendis minus earum rem, soluta, quae, distinctio! Numquam, unde?</p>
	</div>
	<a href="#" class="btn btn-blue">Read More <span class="fa fa-angle-double-right"></span></a>
</div>